{
    "num_output_articles": "15~20",
    "rss_channels": [
        {
            "query": "日本経済新聞",
            "count": 50
        },
        {
            "query": "ニュース",
            "count": 30
        },
        {
            "query": "転職",
            "count": 10
        },
        {
            "query": "音楽",
            "count": 10
        },
        {
            "query": "アート",
            "count": 10
        }
    ]
}
